/* CSS declarations go here */
*{  
	margin:0;  
    padding:0;  
}  
#wrapper{  
	width:700px;
	height:600px;
	margin:0 auto;
	text-align:left;
}
#title{
	text-align: center;
	font-family: "Arial";
	font-size: 35px;
	line-height: 150%;
}
.page {
	margin: 0 auto;
}
#editor{
	top:40%;
	left: 0%;
	right: 20%;
	bottom: 10%;
}
